
html, body{
  min-width: 290px;
  color: #4d4e53;
  background-color: #f5f9ff;
  font-family:;
  line-height: 1.5;
  
}
body{
  display: block;
  margin: 8px;
 
}
#navbar{
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  position: z-index:99;
}

nav{
  display: block;
}
#navbar ul{
  height:88%;
  padding:0;
  overflow-y:auto;
  overflow-x: hidden;
}
ul{
  dislpay:block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  padding-inline-start: 40px;
}
#navbar li{
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  positiion: relative;
  width: 100%;
}
li{
  display: list-item;
  tex-align: -webkit-match-parent;
}
#navbar a{
  display:block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}
#main-doc{
  position: absolute;
  margin-left:310px;
  padding: 20px;
  margin-bottom:110px;
}
main{
  display:block;
}
section{
  display: block;
}
#main-doc header{
  text-align: left;
  margin: 0px;
}
header{
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font weight: thin;
}
section article{
  color: #4d4e53;
  margin: 15px;
  font-size: .96em;
}
section{
  font-size: 17px;
}
article{
  display:block;
}
p{
  display:block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
code{
  display: block;
  tex-align: left;
  font-size: 12px;
  white-space: pre-line;
  position: relative;
  word-break: break-all;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  font-family: monospace;
}

#web3_ex li{
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 30px;
}
table{
  font-size: 1rem;
  line-height:1.45rem;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
  border-spacing: 2px;
}
td, th{
  text-align: left;
  border: 1px solid #ddd;
  padding: 8px;
}
thead{
  display: table-header-group;
  vertical-align: middle;
  border-color: rgba(0, 22, 22, 0.4);
}
tr{
  display: table-row;
  vertical-align: inherit;
  border-color: rgba(0, 22, 22, 0.4);
}
footer{
  text-align:center;
  font-weight: bold;
  font-size: 18px;
  border-top: 1px solid black;
}